<div class="ws-container">
	<div class="ws-header">
		<md-toolbar color="primary" class="toolbar-header">
			<button md-icon-button (click)="sidenav.toggle()">
					<md-icon class="md-24" >menu</md-icon>
			</button>
			<!--<span class="ws-header-title">Readrs Admin</span>-->
			
			<span class="spacer"></span>
			<!--<button md-raised-button color="accent" (click)="test()">Rised</button>-->
			<button md-icon-button [mdMenuTriggerFor]="menu">
				<md-icon>more_vert</md-icon>
			</button>
			<md-menu #menu="mdMenu">
				<button md-menu-item>
					<md-icon>fingerprint</md-icon>
					<span>Login</span>
				</button>
				<button md-menu-item disabled>
					<md-icon>announcement</md-icon>
					<span>Issues</span>
				</button>
				<button md-menu-item>
					<md-icon>notifications_off</md-icon>
					<span>Alerts</span>
				</button>
			</md-menu>
		</md-toolbar>
	</div>
	<div class="ws-body">
		<md-sidenav-container class="ws-nav-container">
    	<md-sidenav #sidenav mode="side" opened="true" class="ws-nav-side">
				<md-nav-list>
					<a routerLink="balance">
						<md-list-item>
							Balance
							<md-icon md-list-icon>monetization_on</md-icon>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="products">
						<md-list-item>
							Products
							<md-icon md-list-icon>view_list</md-icon>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="orders">
						<md-list-item>
							Orders
							<md-icon md-list-icon>reorder</md-icon>
						</md-list-item>
					</a>
					<md-divider></md-divider>
				</md-nav-list>
				
			</md-sidenav>
    	<div class="ws-nav-content">
				<router-outlet></router-outlet>
			</div>
  	</md-sidenav-container>
	</div>
</div>