.app-container {
	height: 100vh;
}

.app-ws {
	height: 100%;
	margin-top: -64px;
	padding-top: 64px;
}

.footer {
	margin-top: -40px;
	height: 40px;
	background-color: #ccc;
	position: relative;

	div {
		top: 50%;
    position: absolute;
    margin-top: -8px;
		left: 50%;
    margin-left: -30px;
	}
}
.not-found-page {
	font-weight: bold;
	font-size: 3em;
	color: #999;
	text-align: center;
	padding-top: 20px;
}